*{
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('../img/backgroundpng.png');
}


.answer{
    /*background-color: #808080;*/
    margin: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.answer:hover{
    background-color: black;
}

.answer_selected {
    background-color: black;
}

.all_content{
    text-align: center;
}

.questions_center{
    
}